In [77]:
import numpy as np
import pandas as pd
import seaborn
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import auc
from sklearn.metrics import classification_report
from sklearn.decomposition import PCA

In [58]:
#importing the dataset
dataset = pd.read_csv('data.csv',encoding= 'unicode_escape')
dataset

,ï»¿customer_id,name,email,product_model,quantity,price,address,phone,date,status,message
0,6341c53254f03b67ec8262b2,Mamunur Rashid,mamun723548@gmail.com,Sanhema Spoke Rim Double Folding Bicycle - Whi...,3,15000,Natore,1521322300,09/10/2022,Pending,hi
1,6341c56854f03b67ec8262bf,Mamunur Rashid,mamun723548@gmail.com,Fitbit Ionic GPS Smart Watch,2,25500,Natore,1521322300,09/10/2022,Pending,okay
2,634f86288bb9c2aeb01e74f7,Mahbubur Rahman,Mahbubur@gmail.com,Stainless Steel Strap Watch For Mens (NN38051S...,1,3500,Fulbaria,1721628756,02/09/2021,Shipped,This is good
3,634f8a4d6eec9304e95e43bf,Ataur Rahman,ataur@gmail.com,Stainless Steel Strap Watch For Mens (NN38051S...,1,3500,Lalmonirhat,1721627456,29/10/2021,Shipped,This is good
4,634f8a4d6eec9304e95e43c0,Mamunur Rashid,ma723548@gmail.com,Realme C35,1,16990,Natore,1721022306,29/10/2021,Shipped,Hello
...,...,...,...,...,...,...,...,...,...,...,...
998,634f8ace6eec9304e95fa36e,Khalilur Rashid,rashid@gmail.com,Xiaomi Haylou RS4 Smartwatch With AMOLED HD Di...,1,3850,Jamalpur,1621322300,29/10/2021,Shipped,Hi
999,634f8ace6eec9304e95fa36f,sadia,sadia@gmail.com,Stainless Steel Strap Watch For Menâs (NN380...,1,3500,Jamalpur,1521327750,2021-10-199,Shipped,This is good
1000,634f8ace6eec9304e95fa370,Shafique,Shafique@gmail.com,Realme C35,1,16990,kushtia,1821325400,2021-10-194,Shipped,Is this good enough?
1001,634f8ace6eec9304e95fa371,Faraz,faraz@gmail.com,Begasso Folding Bicycle- Yellow,1,18000,Netrokona,1521322300,2021-10-190,Shipped,Is this good enough?
1002,634f8ace6eec9304e95fa372,Jakir,Jakir@gmail.com,Begasso Folding Bicycle- Yellow,1,18000,Netrokona,1521322300,02/11/2022,Shipped,Is this good enough?

In [59]:
dataset.isnull().sum()

ï»¿customer_id    0
name              0
email             0
product_model     0
quantity          0
price             0
address           0
phone             0
date              0
status            0
message           0
dtype: int64

In [60]:
dataset.shape

(1003, 11)

In [61]:
dataset.address.unique()

array(['Natore', 'Fulbaria', 'Lalmonirhat', 'Netrokona', 'Magura',
       'Shathkhira', 'panchagarh', 'Noakhali', 'Naogaon', 'Kishorganj',
       'Pubail', 'Laksham', 'Jessore', 'Kurigram', 'Shariatpur',
       'Tangail', 'Nilfamari', 'Sherpur', 'Barishal', 'Bogra', 'Pabna',
       'Chadpur', 'Gopalgang', 'Khulna', 'Faridpur', 'Gazipur',
       'Pirojpur', 'Dhaka', 'Sylhet', 'Mymensing', 'Feni', 'Dinajpur',
       'Madaripur', 'Rangpur', 'Habiganj', 'Jamalpur', 'Brahmanbaria',
       'Rajshahi', 'Joupurhat', 'Meherpur', 'Chapi Nwabganj',
       'Narshingdi', 'Naryangang', 'Moulvibazar', 'Sirajganj', 'Jenaidah',
       'Cumilla', 'Chuadanga', 'Gaibandha', 'Sunamganj', 'Bhola',
       'Sremangal', 'Bagerhat', 'Narail', 'Nilphamari', 'Lakshipur',
       'Rajbari', 'kushtia'], dtype=object)

In [62]:
dataset.address.value_counts()

Shariatpur        50
Madaripur         40
Sherpur           40
Dhaka             40
Faridpur          40
Kurigram          37
Noakhali          30
Pubail            30
Jessore           30
Natore            30
Nilfamari         30
Gopalgang         30
Chadpur           30
Feni              30
Tangail           30
Pirojpur          30
Laksham           26
Dinajpur          20
Bogra             20
Rangpur           20
Jamalpur          20
Khulna            20
Barishal          20
Pabna             20
Rajshahi          20
Sylhet            20
Kishorganj        18
Fulbaria          17
Moulvibazar       11
Habiganj          11
Sunamganj         11
Sremangal         11
Nilphamari        11
Gazipur           10
Mymensing         10
Shathkhira         8
Naryangang         8
panchagarh         7
Jenaidah           7
Cumilla            7
Lalmonirhat        6
Bhola              6
Magura             6
Meherpur           6
Chuadanga          6
Netrokona          6
Lakshipur          6
Rajbari            6
Chapi Nwabganj     6
Gaibandha          6
Bagerhat           6
Narail             6
Joupurhat          6
Sirajganj          5
Brahmanbaria       5
Narshingdi         5
Naogaon            5
kushtia            5
Name: address, dtype: int64

In [63]:
from sklearn.preprocessing import LabelEncoder

In [64]:
lb=LabelEncoder()

In [65]:
dataset["address"]=lb.fit_transform(dataset["address"])

In [66]:
dataset["name"]=lb.fit_transform(dataset["name"])

In [67]:
dataset["email"]=lb.fit_transform(dataset["email"])

In [68]:
dataset["status"]=lb.fit_transform(dataset["status"])

In [69]:
dataset["message"]=lb.fit_transform(dataset["message"])

In [70]:
dataset["product_model"]=lb.fit_transform(dataset["product_model"])

In [71]:
dataset["date"]=lb.fit_transform(dataset["date"])

In [72]:
dataset["ï»¿customer_id"]=lb.fit_transform(dataset["ï»¿customer_id"])

In [73]:
dataset.dtypes

ï»¿customer_id    int32
name              int32
email             int32
product_model     int32
quantity          int64
price             int64
address           int32
phone             int64
date              int32
status            int32
message           int32
dtype: object

In [74]:
X=dataset.drop(['product_model'],axis=1)
Y=dataset['product_model']

In [85]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest= train_test_split(X,Y,test_size=.25,random_state=1)
xtrain

,ï»¿customer_id,name,email,quantity,price,address,phone,date,status,message
552,552,46,32,1,18000,16,1521322300,11,1,2
160,160,80,119,1,89990,15,1717322300,34,1,0
708,708,58,42,1,18000,34,1921322300,6,1,2
538,538,25,12,1,16990,1,1321325400,32,1,2
999,999,132,127,1,3500,18,1521327750,28,1,3
...,...,...,...,...,...,...,...,...,...,...
767,767,32,20,1,18000,43,1721622306,34,1,1
72,72,74,117,1,89990,11,1521322300,11,1,0
908,908,58,42,1,18000,49,1921322300,6,1,2
235,235,118,88,1,18000,37,1921322384,35,1,0
37,37,98,69,1,27990,50,1621327750,35,1,3

In [86]:
from sklearn import linear_model
lr=linear_model.LinearRegression()
lr.fit(xtrain,ytrain)

LinearRegression()

In [83]:
lr.score(xtest,ytest)

0.026945586888258766

In [87]:
from sklearn import tree
#print(ytest[0])
clf = tree.DecisionTreeRegressor()
clf.fit(xtrain,ytrain)
#p=clf.predict(xtest)
#print(p)

clf.score(xtest,ytest)

0.9464924503972381

In [88]:
from sklearn.ensemble import RandomForestClassifier

rm=RandomForestClassifier()

rm.fit(xtrain,ytrain)

rm.score(xtest,ytest)

0.9960159362549801

In [89]:
from sklearn.ensemble import RandomForestClassifier

rm=RandomForestClassifier()

rm.fit(xtrain,ytrain)

rm.score(xtest,ytest)

1.0

In [93]:
from sklearn.naive_bayes import GaussianNB

GNB=GaussianNB()

GNB.fit(xtrain,ytrain)

GNB.score(xtest,ytest)

0.40239043824701193

In [94]:
from sklearn.naive_bayes import GaussianNB

GNB=GaussianNB()

GNB.fit(xtrain,ytrain)

GNB.score(xtest,ytest)

0.40239043824701193